<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">{{'Project List' | translate}}</h2>
        </div>
    </div>
</div>
<div class="row m-t-30">
    <div class="col-md-6">
        <div class="table-responsive m-b-40">
        <p-table [value]="projects" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" class="table table-borderless table-data3"
                 currentPageReportTemplate="" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Project Name</th>
                    <th>Project Code</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-value>
                <tr>
                    <td>{{value.id}}</td>
                    <td>{{value.projectName}}</td>
                    <td>{{value.projectCode}}</td>
                    <td>
                        <button type="button" (click)="showDeleteConfirmation(value.id)"><i class="pi pi-trash" style="font-size: 26px; color:#dc3545"></i></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <form [formGroup]="projectForm" (ngSubmit)="saveForm()">
            <div class="card-header">
                <strong>{{ "Project" | translate}}</strong> {{ "Create" | translate}}
            </div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class=" form-control-label">Project Code</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" formControlName="projectCode" placeholder="Project Code" class="form-control" [ngClass]="{'is-invalid': f.projectCode.errors}" />
                        <small *ngIf="f.projectCode.errors?.required" class="form-text text-muted">This area is required</small>
                        <small *ngIf="f.projectCode.errors?.minlength" class="form-text text-muted">This area should be min 2 char</small>
                        <small *ngIf="f.projectCode.errors?.maxlength" class="form-text text-muted">This area should be max 10 char</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Project Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" formControlName="projectName" placeholder="Project Name" class="form-control" [ngClass]="{'is-invalid': f.projectName.errors}" />
                        <small *ngIf="f.projectName.errors?.required" class="form-text text-muted">This area is required</small>
                        <small *ngIf="f.projectCode.errors?.minlength" class="form-text text-muted">This area should be min 4 char</small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-sm" style="margin-right:5px ">Save</button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="resetForm()">Reset</button>
            </div>
            </form>
        </div>
    </div>
</div>
